
.pkglist li {
	display: block;
	padding: 4px;
	
}

.pkglist li:hover {
	background: #efefef;
}
.pkglist li a {
	color: #222;
	text-decoration: none;
}


.pkglist .repos {
	font-size: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	color: #666;
}

.pagination a {
	display: inline-block;

	padding: 3px;
	text-decoration: none;
}
