<?php
/* Sample MongoDB connection config. If config is omitted, defaults used instead. */

$mongo_config = [
	'server' => 'mongodb://localhost:27017',
	'options' => ['connect' => true],
	'driver_options' => []
];

